* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1277px;
  margin: 0 auto;
}
header {
  /* position: sticky;
  top: 0;
  z-index: 50;*/
}
.fixed {
  width: 100%;
}
.logo {
  margin: 16px 0 16px 12px;
  float: left;
  font-size: 27px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}
li {
  font-weight: 500;
  font-size: 21px;
  margin-left: 24px;
  display: inline;
  color: rgba(0, 0, 0, 1);
}
.socialin {
  display: inline-block;
}
.socialinst {
  margin: 0 19px;
  display: inline-block;
}
.socialfb {
  display: inline-block;
}
.all_menu {
  margin-top: 16px;
  display: inline-block;
  float: right;
}
.menu {
  display: inline-block;
}
.head-but {
  margin-left: 32px;
  margin-right: 12px;
  display: inline-block;
}
.but-main {
  padding: 10px 16px 10px 16px;
  font-size: 21px;
  font-weight: 500;
  color: #2203e4;
  background-color: white;
  border: 1px solid rgba(34, 3, 228, 1);
}
.main_write {
  vertical-align: top;
  margin-top: 229px;
  margin-left: 80px;
  display: inline-block;
}
.main-phone {
  margin-top: 120px;
  margin-left: 58px;
  display: inline-block;
}
.write {
  font-size: 47px;
  font-weight: 700;
}
.amen {
  font-size: 16px;
  font-weight: 400;
}
.main_but1 {
  margin: 24px 24px 0 0;
  background: #0062ff;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 16px;
  color: rgba(255, 255, 255, 1);
  border: 0px;
}
.main_but2 {
  background: white;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 16px;
  color: rgba(87, 87, 87, 1);
  border: 1px solid black;
}
.main_autor {
  margin-top: 80px;
  text-align: center;
}
.autor {
  margin-bottom: -13px;
  font-size: 36px;
  font-weight: 600;
}
.autor_amet {
  font-size: 16px;
  font-weight: 400;
}
.after_autor {
  margin-top: 46px;
}
.smile_all_mark {
  float: left;
}
.smile_man {
  margin-right: 46px;
  display: inline-block;
}
.mark_main {
  display: inline-block;
}
.mark1 {
  margin-bottom: -4px;
  font-weight: 600;
  font-size: 27px;
}
.mark2 {
  margin: -12px;
  font-weight: 600;
  font-size: 27px;
}
.graphic {
  font-size: 16px;
  font-weight: 400;
}
.gold_col {
  margin-top: 9px;
  float: right;
  display: inline-block;
}
.gregory {
  color: rgba(222, 164, 5, 1);
  font-size: 21px;
  font-weight: 500;
}
.henry {
  color: rgba(222, 164, 5, 1);
  font-size: 21px;
  font-weight: 500;
}
.mark1::after {
  content: "Graphic designer";
  display: block;
  font-size: 21px;
  font-weight: 500;
  color: rgba(87, 87, 87, 1);
}
.mark2::after {
  content: "Graphic designer";
  display: block;
  position: relative;
  right: -12px;
  font-size: 21px;
  font-weight: 500;
  color: rgba(87, 87, 87, 1);
}
.mark2::before {
  content: url("../img/Vector.png");
  position: relative;
  left: -2px;
  bottom: -15px;
}
.gregory::after {
  content: "Programmer";
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 190, 11, 1);
}
.henry::after {
  content: "Analyst";
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 190, 11, 1);
}
.fixed1 {
  margin-top: 100px;
  padding-top: 71px;
  width: 100%;
  background-color: rgba(0, 98, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.container1 {
  background-color: rgba(0, 98, 255, 1);
  text-align: center;
  width: 1277px;
  display: block;
  margin: 0 auto;
}
.main_autor1 {
  text-align: center;
}
.autor1 {
  margin-bottom: -5px;
  font-size: 36px;
  font-weight: 600;
}
.main_student {
  float: left;
  margin-top: 64px;
  display: inline-block;
}
.peaple_smile {
  display: inline-block;
}
.for_stidents {
  margin-left: 34px;
  vertical-align: top;
  text-align: left;
  display: inline-block;
}
.for_stidents1 {
  margin-top: 8px;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 8px;
}
.for_stidents2 {
  margin-bottom: 8px;
}
.secret_marg {
  float: right;
}
.but_forstudent {
  margin: 64px auto 71px;
  display: inline-block;
}
.main_but_forstudent {
  padding: 10px 16px;
  border: 1px solid rgba(34, 3, 228, 1);
  color: rgba(34, 3, 228, 1);
  background-color: rgba(255, 255, 255, 1);
}
.colon_demo {
  margin-right: 48px;
  display: inline-block;
}
.watch_video1 {
  color: #000000;
  font-size: 21px;
  font-weight: 500;
}
.col_video {
  display: inline-block;
}
.secret_demo {
  margin-top: 63px;
  margin-bottom: 44px;
}
.secret_check {
  margin-bottom: -4px;
}
.secret_container {
  background-color: white;
  margin-bottom: 130px;
}
.all_opinion {
  height: 499px;
  background-color: rgba(255, 190, 11, 1);
}
.container2 {
  overflow: hidden;
  padding-top: 67px;
  padding-bottom: 67px;
  text-align: center;
  width: 1277px;
  display: block;
  margin: 0 auto;
}
.main_opinopn1 {
}
.opinopn {
  font-size: 36px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 12px;
}
.think {
  display: inline-block;
  vertical-align: top;
  margin-top: 37px;
}
.jones_star {
  text-align: left;
  display: inline-block;
}

.main_david_star::after {
  content: url(../img/Frame\ 36.png);
  vertical-align: middle;
  margin-left: 7px;
}
.main_david_star {
  margin: 0;
  font-weight: 600;
  font-size: 27px;
  line-height: 120%;
  color: #000000;
}
.ceo {
  margin-top: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #000000;
}
.officia_consequat {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #575757;
}
.jones_david1 {
  padding: 60px 60px 30px 16px;
  display: inline-block;
  background-color: #f3f3f3;
  border-radius: 12px;
}

.jones_david2::before {
  content: url(../img/Frame\ 38.png);
  position: absolute;
  top: -18px;
  left: -744px;
  opacity: 0.45;
}
.jones_david2::after {
  content: url(../img/Frame\ 38.png);
  position: absolute;
  top: -18px;
  right: -761px;
  opacity: 0.45;
}

.jones_david2 {
  position: relative;
  padding: 60px 60px 30px 16px;
  display: inline-block;
  background-color: #f3f3f3;
  border-radius: 12px;
  box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.12);
}
.jones_david3 {
  padding: 60px 60px 30px 16px;
  display: inline-block;
  background-color: #f3f3f3;
  border-radius: 12px;
}
.iphone123 {
  margin-top: 74px;
  display: inline-block;
}
.stars5 {
  vertical-align: top;
  margin-top: 160px;
  display: inline-block;
}
.stars52 {
  color: rgba(0, 0, 0, 1);
}
.stars52::before {
  position: relative;
  content: url("../img/Frame\ 36.png");
  left: -2px;
  top: 9px;
}
.my_product {
  font-size: 36px;
  font-weight: 600;
  color: rgba(34, 3, 228, 1);
}
.but_stars1 {
  border: 0;
  background-color: rgba(0, 98, 255, 1);
  padding: 10px 16px;
  color: rgba(255, 255, 255, 1);
}
.amet_star {
  color: rgba(87, 87, 87, 1);
}
.stars5 {
  text-align: left;
}
.stars52 {
  margin-bottom: 20px;
}
.my_product {
  margin-bottom: 16px;
}
.but_stars1 {
  margin-top: 16px;
}
.all_wait {
  max-width: 508px;
  width: 100%;
  margin: 93px auto 0;
}
.main_wait {
  color: #000000;
  font-size: 27px;
  font-weight: 600;
}
.mail_input1 {
  width: 100%;
  margin: 0 auto 24px;
  border: 0;
  display: block;
  padding: 25px 24px 26px 24px;
  color: rgba(34, 3, 228, 1);
  background: rgba(58, 134, 255, 0.2);
  border-radius: 12px;
}
.mail_input1::placeholder {
  color: rgba(34, 3, 228, 1);
}
.main_sub {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  margin: -11px auto 54px;
  border: 0;
  display: block;
  padding: 10px 0;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 98, 255, 1);
}
